.rule {
    @include display(center, center);

    .header_rule {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flexs {
            background: $profile_bg;
            @include display(center, center);
            padding: 15px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            img {
                position: absolute;
                top: 12px;
                left: 15px;
                width: 25px;
            }

            .rules_contents {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }

        .rule_section {
            padding: 70px 15px 30px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding: 65px 10px 20px;
            }

            h5 {
                font-size: 16px;
                text-align: center;
                font-weight: 600;
                margin-bottom: 5px;
            }

            p {
                font-size: 13px;
                text-align: center;
                margin-bottom: 20px;
            }

            .card_subordination {
                background-color: $white;
                padding: 20px 15px 15px;
                border: 1px solid $primary;

                @media($breakpoint_ESM) {
                    padding: 20px 10px 10px;
                }

                .number_one {
                    position: relative;

                    h6 {
                        width: 100px;
                        text-align: center;
                        color: $white;
                        position: absolute;
                        background-color: $primary;
                        clip-path: polygon(7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
                        left: 34%;
                        top: -32px;
                        height: 25px;
                        font-size: 15px;
                        line-height: 1.6;

                        @media($breakpoint_ESM) {
                            left: 33%;
                        }

                        @media($breakpoint_350) {
                            left: 32%;
                        }
                    }
                }

                p {
                    margin-bottom: 0;
                    font-size: 13px;
                    letter-spacing: .5px;
                    text-align: start;

                    @media($breakpoint_ESM) {
                        font-size: 12px;
                    }
                }
            }

            .level_table {
                width: 100%;
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;

                table {
                    border: 1px solid $primary;

                    thead {
                        background-color: $primary;

                        th {
                            color: $white;
                            font-size: 13px;
                            font-weight: 600;
                            border: none;
                            text-align: center;
                            padding: 8px 3px;

                            @media($breakpoint_450) {
                                font-size: 11px;
                            }
                        }
                    }

                    tbody {
                        td {
                            font-size: 13px;
                            text-align: center;
                            border: 1px solid $primary;
                            padding: 8px 3px;
                        }
                    }
                }
            }

            .Lottery_percentage {
                h4 {
                    font-size: 17px;
                    font-weight: 600;
                    margin: 20px 0 10px;

                    @media($breakpoint_ESM) {
                        font-size: 16px;
                    }
                }
            }

            .lottery_table {
                width: 100%;
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;

                table {
                    border: 1px solid $primary;

                    thead {
                        background-color: $primary;

                        th {
                            color: $white;
                            font-size: 12px;
                            font-weight: 600;
                            border: none;
                            text-align: center;
                            padding: 8px 3px;

                            @media($breakpoint_450) {
                                font-size: 11px;
                            }
                        }

                        .status_th {
                            @include display(flex-start, center);
                        }
                    }

                    tbody {
                        td {
                            font-size: 13px;
                            border: 1px solid $primary;
                            width: 40px;
                            padding: 8px 3px;
                            text-align: center;
                        }
                    }
                }
            }

            .bonus_card {
                background-color: $white;
                border-radius: 14px;

                .head_bonus {
                    @include display(space-between, center);
                    border-bottom: 1px solid $dark_watch;

                    .bonus_bg {
                        background-color: #babfe0;
                        padding: 11px 12px 11px 10px;
                        width: 150px;
                        @include display(space-between, center);
                        border-top-left-radius: 14px;

                        @media($breakpoint_ESM) {
                            width: 135px;
                            padding-right: 7px;
                            padding: 9px 12px 9px 10px;
                        }

                        p {
                            margin-bottom: 0;
                            font-size: 12px;
                            font-weight: 600;
                            color: $white;


                            span {
                                background-color: $white;
                                width: 20px;
                                border-radius: 50%;
                                position: absolute;
                                text-align: center;
                                margin-left: 8px;
                                font-weight: 600;
                                color: #babfe0;
                            }
                        }

                        .close_btn {
                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .right_number {
                        padding: 10px 15px 10px 10px;
                        color: $primary;
                        font-size: 13px;
                        font-weight: 600;

                        @media($breakpoint_ESM) {
                            padding: 9px 15px 9px 10px;
                        }
                    }
                }

                .bonus_around {
                    padding: 15px 15px 25px;

                    .numbers_one {
                        width: 100%;
                        margin-bottom: 10px;
                        display: flex;
                        background-color: #f6f6f6;
                        padding: 5px 10px;

                        p {
                            margin-bottom: 0;
                            font-size: 12px;
                            width: 50%;
                            text-align: center;
                        }
                    }

                    .recharge_member {
                        width: 100%;
                        margin-bottom: 10px;
                        display: flex;
                        background-color: #f6f6f6;
                        padding: 5px 10px;

                        p {
                            margin-bottom: 0;
                            font-size: 12px;
                            width: 50%;
                            text-align: center;
                        }
                    }

                    .border_center {
                        margin: 30px 20px 25px;

                        @media($breakpoint_ESM) {
                            margin: 25px 15px 20px;
                        }

                        .border_width {
                            border: 1px solid #babfe0;
                        }
                    }

                    .invite_deposit {
                        @include display(space-around, center);
                        gap: 10px;
                        margin-bottom: 15px;

                        .invited_number {

                            .number_two {
                                font-size: 16px;
                                color: $primary;

                                @media($breakpoint_ESM) {
                                    font-size: 15px;
                                }
                            }

                            p {
                                text-align: center;
                                font-size: 14px;
                                margin-bottom: 0;

                                @media($breakpoint_ESM) {
                                    font-size: 13px;
                                }
                            }
                        }

                        .deposit_number {

                            .number_two {
                                color: $primary;
                                font-size: 16px;

                                @media($breakpoint_ESM) {
                                    font-size: 15px;
                                }
                            }

                            p {
                                text-align: center;
                                font-size: 14px;
                                margin-bottom: 0;

                                @media($breakpoint_ESM) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }

                    .finished_btn {
                        button {
                            width: 100%;
                            padding: 8px 30px;
                            border-radius: 24px;
                            color: $white;
                            background-color: #bfbfbf;
                            border: none;
                            font-weight: 600;
                            letter-spacing: .6px;
                        }
                    }
                }
            }
        }
    }
}