.game_bonus {
    @include display(center, center);

    .header_game_bonus {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(space-between, center);
            padding: 12px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            .back_img {
                img {
                    width: 25px;

                    @media($breakpoint_ESM) {
                        width: 20px;
                    }
                }
            }

            .game_bonus_content {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;

                    @media($breakpoint_ESM) {
                        font-size: 15px;
                    }
                }
            }

            .deposit_history {
                cursor: pointer;

                p {
                    color: $white;
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
        }

        .game_bonus_section {
            padding: 60px 15px 30px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding: 60px 10px 20px;
            }

            .link_members_sections {
                background-color: $page_bg;
                padding-top: 10px;

                @media($breakpoint_ESM) {
                    padding-top: 5px;
                }

                h5 {
                    font-size: 17px;
                    font-weight: 600;

                    @media($breakpoint_ESM) {
                        font-size: 16;
                    }
                }

                .card_links {
                    font-size: 14px;
                    margin-bottom: 10px;
                    padding: 15px;
                    box-shadow: $input_shadow;
                    border-radius: 4px;
                    background-color: $white;

                    p {
                        font-size: 14px;
                        color: $forgot;
                        margin-bottom: 3px;

                        @media ($breakpoint_ESM) {
                            font-size: 13px;
                        }

                        .ellipsis {
                            width: 230px;
                            position: absolute;

                            @media ($breakpoint_ESM) {
                                width: 180px;
                            }

                            @media ($breakpoint_350) {
                                width: 150px;
                            }
                        }
                    }
                }

                .card_Lottery_details {
                    font-size: 14px;
                    margin-bottom: 10px;
                    box-shadow: $input_shadow;
                    border-radius: 5px;
                    background-color: $white;

                    .commion_head {
                        background-color: $primary;
                        padding: 10px;
                        @include display(space-between, center);
                        border-radius: 5px 5px 0 0;

                        p {
                            margin-bottom: 0;
                            color: $white;

                            @media($breakpoint_ESM) {
                                font-size: 15px;
                            }
                        }
                    }

                    .commission_radius {
                        border-radius: 0 0 5px 5px;

                        .lottery_commission_flexs {
                            @include display (space-between, center);
                            background-color: $dark_watch;
                            padding: 7px;
                            margin-bottom: 8px;
                            border-radius: 4px;

                            p {
                                margin-bottom: 0;
                                font-size: 13px;
                            }

                            h6 {
                                margin-bottom: 0;
                                font-weight: 600;
                                font-size: 13px;
                                color: $forgot;
                            }
                        }
                    }
                }
            }

            .card_subordination {
                background-color: $white;
                padding: 20px 15px 15px;
                border: 1px solid $primary;

                @media($breakpoint_ESM) {
                    padding: 20px 10px 10px;
                }

                .number_one {
                    position: relative;

                    h6 {
                        width: 100px;
                        text-align: center;
                        color: $white;
                        position: absolute;
                        background-color: $primary;
                        clip-path: polygon(7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
                        left: 34%;
                        top: -32px;
                        height: 25px;
                        font-size: 15px;
                        line-height: 1.6;

                        @media($breakpoint_ESM) {
                            left: 33%;
                        }

                        @media($breakpoint_350) {
                            left: 32%;
                        }
                    }
                }

                p {
                    margin-bottom: 0;
                    font-size: 13px;
                    letter-spacing: .5px;
                    text-align: start;

                    @media($breakpoint_ESM) {
                        font-size: 12px;
                    }
                }
            }

            .level_table {
                width: 100%;
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;

                table {
                    border: 1px solid $primary;

                    thead {
                        background-color: $primary;

                        th {
                            color: $white;
                            font-size: 13px;
                            font-weight: 600;
                            border: none;
                            text-align: center;
                            padding: 8px 3px;

                            @media($breakpoint_450) {
                                font-size: 11px;
                            }
                        }
                    }

                    tbody {
                        td {
                            font-size: 13px;
                            text-align: center;
                            border: 1px solid $primary;
                            padding: 8px 3px;
                        }
                    }
                }
            }

            .Lottery_percentage {
                h4 {
                    font-size: 17px;
                    font-weight: 600;
                    margin: 20px 0 10px;

                    @media($breakpoint_ESM) {
                        font-size: 16px;
                    }
                }
            }

            .lottery_table {
                width: 100%;
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;

                table {
                    border: 1px solid $primary;

                    thead {
                        background-color: $primary;

                        th {
                            color: $white;
                            font-size: 12px;
                            font-weight: 600;
                            border: none;
                            text-align: center;
                            padding: 8px 3px;

                            @media($breakpoint_450) {
                                font-size: 11px;
                            }
                        }

                        .status_th {
                            @include display(flex-start, center);
                        }
                    }

                    tbody {
                        td {
                            font-size: 13px;
                            border: 1px solid $primary;
                            width: 40px;
                            padding: 8px 3px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}