.you_loss {
    @include display(center, center);

    .loss_width {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        @include display(center, center);


        .loss_reward {

            .loss_img {
                width: 100%;
                max-width: 320px;
                height: 300px;
            }

            h5 {
                position: absolute;
                bottom: 32px;
                margin-bottom: 0;
                font-size: 17px;
                color: $white;
                font-weight: 600;
                width: 100%;
                text-align: center;
            }

            .close_btn {
                text-align: center;
                margin-top: 20px;

                .close_img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}