.lottery_page {
    @include display(center, center);

    .lottery {
        width: 100%;
        max-width: 500px;

        .header_flex {
            background: linear-gradient(91deg, #6561C0 0.85%, #9A97D6 99.57%);
            @include display(space-between, center);
            padding: 20px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 500px;

            .back_img {
                a {
                    img {
                        @media($breakpoint_450) {
                            width: 35px;
                        }
                    }
                }
            }

            .music_headphone {
                @include display(center, center);
                gap: 10px;

                @media($breakpoint_ESM) {
                    gap: 5px;
                }

                .music {
                    img {
                        @media($breakpoint_450) {
                            width: 33px;
                            height: 33px;
                        }
                    }
                }

                .headphone {
                    img {
                        @media($breakpoint_450) {
                            width: 33px;
                            height: 33px;
                        }
                    }
                }
            }
        }

        .dapic_header {
            background: linear-gradient(91deg, #6561C0 0.85%, #9A97D6 99.57%);
            padding: 0 20px 20px;
            height: 190px;

            @media($breakpoint_450) {
                padding: 0px 10px 20px;
            }
        }

        .secound_sec {
            background-color: $page_bg;
            // height: 100vh;
            padding: 20px;
            position: relative;

            @media($breakpoint_450) {
                padding: 15px;
            }

            @media($breakpoint_ESM) {
                padding: 15px 10px;
            }

            .card {
                padding: 10px 10px 20px;
                border: none;
                width: 92%;
                border-radius: 14px;
                position: absolute;
                top: -92px;
                box-shadow: 0px 0px 4px 1px rgb(225 221 221 / 73%);

                @media($breakpoint_450) {
                    width: 93%;
                    top: -113px;
                }

                @media($breakpoint_ESM) {
                    width: 94%;
                }


                .refresh {
                    text-align: end;
                }

                h1 {
                    color: $primary;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                    text-align: center;

                    @media($breakpoint_450) {
                        font-size: 31px;
                    }

                    @media($breakpoint_ESM) {
                        font-size: 29px;
                    }
                }

                .img_content {
                    @include display(center, center);
                    gap: 15px;

                    h4 {
                        margin-bottom: 0;
                        color: $forgot;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        @media($breakpoint_450) {
                            font-size: 15px;
                        }
                    }
                }

                .btn_flex {
                    @include display(space-evenly, center);
                    margin-top: 20px;

                    .withdraw_btn {
                        button {
                            background-color: $primary;
                            border: none;
                            padding: 15px 45px;
                            border-radius: 10px;
                            color: $white;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            @media($breakpoint_450) {
                                padding: 12px 36px;
                                font-size: 15px;
                            }

                            @media($breakpoint_ESM) {
                                padding: 11px 33px;
                                font-size: 14px;
                            }
                        }
                    }

                    .deposit_btn {
                        button {
                            background-color: $deposit_button;
                            border: none;
                            padding: 15px 45px;
                            border-radius: 10px;
                            color: $white;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            @media($breakpoint_450) {
                                padding: 12px 36px;
                                font-size: 15px;
                            }

                            @media($breakpoint_ESM) {
                                padding: 11px 33px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .watch_flex_card {
                @include display(space-between, center);
                gap: 15px;
                margin-top: 105px;

                @media($breakpoint_450) {
                    margin-top: 75px;
                    gap: 5px;
                }

                @media($breakpoint_ESM) {
                    margin-top: 65px;
                }

                .watch_active {
                    @include display(center, center);
                    background: $watch_bg;
                    width: 107px;
                    height: 110px;
                    border-radius: 15px;

                    @media($breakpoint_ESM) {
                        height: 104px;
                    }

                    .text-center {
                        @media($breakpoint_450) {
                            padding: 5px !important;
                        }

                        img {
                            @media($breakpoint_ESM) {
                                width: 40px;
                            }
                        }
                    }

                    h5 {
                        color: $white;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 10px 0 0;

                        @media($breakpoint_450) {
                            font-size: 11px;
                        }

                        @media($breakpoint_ESM) {
                            margin-top: 5px;
                        }
                    }
                }

                .watch {
                    @include display(center, center);
                    background-color: $dark_watch;
                    width: 107px;
                    height: 110px;
                    border-radius: 15px;

                    .text-center {
                        @media($breakpoint_450) {
                            padding: 5px !important;
                        }

                        img {
                            @media($breakpoint_ESM) {
                                width: 40px;
                            }
                        }
                    }

                    h5 {
                        color: $forgot;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 10px 0 0;

                        @media($breakpoint_450) {
                            font-size: 11px;
                        }
                    }
                }
            }

            .mixing_card {

                .win_card {
                    @include display(space-between, center);
                    border-radius: 12px 12px 0 0;
                    margin-top: 20px;
                    padding: 25px 20px;
                    background: linear-gradient(191deg, #6A66C2 -86.72%, #9793FF 72.22%);
                    border-bottom: 3px dashed $white;

                    @media($breakpoint_450) {
                        padding: 20px 10px;
                    }

                    @media($breakpoint_350) {
                        padding: 20px 7px;
                    }

                    .win_number {

                        h3 {
                            color: $white;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: normal;
                            margin-bottom: 15px;

                            @media($breakpoint_450) {
                                font-size: 17px;
                                margin-bottom: 11px;
                            }
                        }

                        .coin_img {
                            display: flex;

                            .text_move {
                                position: relative;

                                img {
                                    margin-right: 5px;

                                    @media($breakpoint_450) {
                                        width: 30px;
                                        height: 30px;
                                        margin-right: 4px;
                                    }
                                }

                                h6 {
                                    margin-bottom: 0;
                                    color: $white;
                                    position: absolute;
                                    left: 15px;
                                    bottom: 10px;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 700;

                                    @media($breakpoint_450) {
                                        left: 12px;
                                        bottom: 8px;
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }

                    .play {
                        button {
                            border: none;
                            background-color: $white;
                            color: $primary;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            padding: 9px 11px;
                            border-radius: 25px;

                            @media($breakpoint_450) {
                                font-size: 11px;
                                padding: 7px 8px;
                                border-radius: 16px;
                            }

                            @media($breakpoint_ESM) {
                                font-size: 9px;
                                padding: 6px 7px;
                                border-radius: 10px;
                            }
                        }
                    }
                }

                .timing {
                    background-color: $mixing_card;
                    border-radius: 0 0 12px 12px;
                    padding: 20px 20px 15px;

                    @media($breakpoint_450) {
                        padding: 10px;
                    }

                    h5 {
                        color: $white;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }

                    .remaining {
                        @include display(center, center);

                        .zero_number {
                            width: 39px;
                            height: 50px;
                            color: $black;
                            margin-right: 10px;
                            background-color: $white;
                            @include display(center, center);
                            border-radius: 10px;
                            font-size: 26px;
                            font-style: normal;
                            font-weight: 500;

                            @media($breakpoint_450) {
                                width: 35px;
                                height: 40px;
                                margin-right: 5px;
                                font-size: 23px;
                            }

                            @media($breakpoint_ESM) {
                                width: 32px;
                                height: 36px;
                                margin-right: 4px;
                                font-size: 20px;
                            }

                            @media($breakpoint_350) {
                                width: 30px;
                                height: 34px;
                                font-size: 18px;
                                border-radius: 8px;
                            }
                        }

                        .zero_number_bg {
                            margin: 0 20px 0 10px;
                            font-size: 40px;

                            @media($breakpoint_450) {
                                margin: 0 5px 0 0;
                                font-size: 35px;
                            }

                            @media($breakpoint_350) {
                                font-size: 30px;
                            }

                        }
                    }

                    .text_number {
                        color: $white;
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 600;

                        @media($breakpoint_450) {
                            font-size: 19px;
                        }

                        @media($breakpoint_ESM) {
                            font-size: 18px;
                        }
                    }
                }
            }

            .color_btn {
                @include display (space-between, center);
                margin: 20px 0;

                .violet_btn {
                    @include vgr_button;
                }

                .green_btn {
                    @include vgr_button;
                    background-color: $green;
                }

                .red_btn {
                    @include vgr_button;
                    background-color: $red;
                }
            }

            .select_coin {
                background-color: $dark_watch;
                padding: 20px 20px 5px;
                border-radius: 12px;
                box-shadow: $input_shadow;

                @media($breakpoint_450) {
                    padding: 16px 10px 1px;
                }

                .ten_coin {
                    @include display(space-between, center);
                    margin-bottom: 15px;

                    .first_line {
                        @include display(initial, center);
                        position: relative;

                        img {
                            @media($breakpoint_500) {
                                width: 65px;
                                height: 65px;
                            }

                            @media($breakpoint_450) {
                                width: 60px;
                                height: 60px;
                            }

                            @media($breakpoint_ESM) {
                                width: 55px;
                                height: 55px;
                            }

                            @media($breakpoint_350) {
                                width: 50px;
                                height: 50px;
                            }
                        }

                        h4 {
                            color: $white;
                            font-size: 26px;
                            font-style: normal;
                            font-weight: 500;
                            position: absolute;
                            left: 30px;
                            top: 21px;

                            @media($breakpoint_500) {
                                font-size: 24px;
                                left: 26px;
                                top: 18px;
                            }

                            @media($breakpoint_450) {
                                font-size: 21px;
                                left: 24px;
                                top: 16px;
                            }

                            @media($breakpoint_ESM) {
                                font-size: 20px;
                                left: 22px;
                                top: 15px;
                            }

                            @media($breakpoint_350) {
                                left: 19px;
                                top: 12px;
                            }
                        }
                    }
                }
            }

            .flex_seven_btn {
                margin: 20px 0;
                @include display(space-between, center);

                .secound_violet {
                    background-color: $white;
                    border: 2px solid $primary;
                    color: $primary;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    border-radius: 9px;
                    padding: 8px 20px;

                    @media($breakpoint_450) {
                        font-size: 14px;
                        padding: 7px 16px;
                    }

                    @media($breakpoint_ESM) {
                        font-size: 12px;
                        padding: 7px 12px;
                    }

                    @media($breakpoint_350) {
                        font-size: 11px;
                        padding: 8px 11px;
                        border-radius: 6px;
                    }
                }

                .x_one_btn {
                    border: none;
                    border-radius: 9px;
                    padding: 10px;
                    color: $white;
                    background-color: $green;

                    @media($breakpoint_450) {
                        padding: 8px 7px;
                    }

                    @media($breakpoint_ESM) {
                        padding: 7px;
                    }

                    @media($breakpoint_350) {
                        padding: 7px 6px;
                        font-size: 14px;
                        border-radius: 6px;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                .x_two_btn {
                    border: none;
                    border-radius: 9px;
                    padding: 10px;
                    color: $forgot;
                    background-color: $dark_watch;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;

                    @media($breakpoint_450) {
                        padding: 8px 7px;
                    }

                    @media($breakpoint_ESM) {
                        padding: 7px;
                    }

                    @media($breakpoint_350) {
                        padding: 7px 6px;
                        border-radius: 6px;
                        font-size: 14px;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }
    }
}