.lottery_page {
    @include display(center, center);

    .lottery {
        width: 100%;
        max-width: 500px;

        .dapic_header {
            background: linear-gradient(91deg, #6561C0 0.85%, #9A97D6 99.57%);
            padding: 20px;
            height: 200px;

            @media($breakpoint_450) {
                padding: 20px 10px;
            }

            .header_flex {
                @include display(space-between, center);

                .back_img {
                    a {
                        img {
                            @media($breakpoint_450) {
                                width: 35px;

                            }

                            @media($breakpoint_ESM) {
                                width: 30px;
                            }
                        }
                    }
                }

                .img_flex {
                    @include display(space-between, center);
                    gap: 35px;

                    @media($breakpoint_ESM) {
                        gap: 20px;
                    }

                    .dapic_game_img {
                        img {
                            @media($breakpoint_450) {
                                width: 150px;
                            }

                            @media($breakpoint_ESM) {
                                width: 130px;
                            }
                        }
                    }
                }

                .music_headphone {
                    @include display(center, center);
                    gap: 10px;

                    @media($breakpoint_ESM) {
                        gap: 5px;
                    }

                    .music {
                        img {
                            @media($breakpoint_450) {
                                width: 33px;
                                height: 33px;
                            }
                        }
                    }

                    .headphone {
                        img {
                            @media($breakpoint_450) {
                                width: 33px;
                                height: 33px;
                            }
                        }
                    }
                }
            }
        }

        .secound_sec {
            background-color: $page_bg;
            height: 100vh;
            padding: 20px;
            position: relative;

            @media($breakpoint_450) {
                padding: 15px;
            }

            @media($breakpoint_ESM) {
                padding: 15px 10px;
            }

            .card {
                padding: 10px 10px 20px;
                border: none;
                width: 92%;
                border-radius: 14px;
                position: absolute;
                top: -92px;
                box-shadow: 0px 0px 4px 1px rgb(225 221 221 / 73%);

                @media($breakpoint_450) {
                    width: 93%;
                    top: -113px;
                }

                @media($breakpoint_ESM) {
                    width: 94%;
                }


                .refresh {
                    text-align: end;
                }

                h1 {
                    color: $primary;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                    text-align: center;

                    @media($breakpoint_450) {
                        font-size: 31px;
                    }

                    @media($breakpoint_ESM) {
                        font-size: 29px;
                    }
                }

                .img_content {
                    @include display(center, center);
                    gap: 15px;

                    h4 {
                        margin-bottom: 0;
                        color: $forgot;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        @media($breakpoint_450) {
                            font-size: 15px;
                        }
                    }
                }

                .btn_flex {
                    @include display(space-evenly, center);
                    margin-top: 20px;

                    .withdraw_btn {
                        button {
                            background-color: $primary;
                            border: none;
                            padding: 15px 45px;
                            border-radius: 10px;
                            color: $white;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            @media($breakpoint_450) {
                                padding: 12px 36px;
                                font-size: 15px;
                            }

                            @media($breakpoint_ESM) {
                                padding: 11px 33px;
                                font-size: 14px;
                            }
                        }
                    }

                    .deposit_btn {
                        button {
                            background-color: $deposit_button;
                            border: none;
                            padding: 15px 45px;
                            border-radius: 10px;
                            color: $white;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            @media($breakpoint_450) {
                                padding: 12px 36px;
                                font-size: 15px;
                            }

                            @media($breakpoint_ESM) {
                                padding: 11px 33px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .watch_flex_card {
                @include display(space-between, center);
                gap: 15px;
                margin-top: 105px;

                @media($breakpoint_450) {
                    margin-top: 75px;
                    gap: 5px;
                }

                @media($breakpoint_ESM) {
                    margin-top: 65px;
                }

                .watch_active {
                    @include display(center, center);
                    background: $watch_bg;
                    width: 107px;
                    height: 110px;
                    border-radius: 15px;

                    @media($breakpoint_ESM) {
                        height: 104px;
                    }

                    .text-center {
                        @media($breakpoint_450) {
                            padding: 5px !important;
                        }

                        img {
                            @media($breakpoint_ESM) {
                                width: 40px;
                            }
                        }
                    }

                    h5 {
                        color: $white;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 10px 0 0;

                        @media($breakpoint_450) {
                            font-size: 11px;
                        }

                        @media($breakpoint_ESM) {
                            margin-top: 5px;
                        }
                    }
                }

                .watch {
                    @include display(center, center);
                    background-color: $dark_watch;
                    width: 107px;
                    height: 110px;
                    border-radius: 15px;

                    .text-center {
                        @media($breakpoint_450) {
                            padding: 5px !important;
                        }

                        img {
                            @media($breakpoint_ESM) {
                                width: 40px;
                            }
                        }
                    }

                    h5 {
                        color: $forgot;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 10px 0 0;

                        @media($breakpoint_450) {
                            font-size: 11px;
                        }
                    }
                }
            }

            .mixing_card {
                @include display(space-between, center);
                border-radius: 12px 12px 0 0;
                margin-top: 20px;
                padding: 20px;
                background: linear-gradient(191deg, #6A66C2 -86.72%, #9793FF 72.22%);

                .win_number {
                    h3 {
                        color: $white;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
        }
    }
}