// font-family: 'Kanit', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Mukta', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto', sans-serif;


//breakpoints
$breckpoint_MD: "max-width: 768px";
$breckpoint_SM: "max-width: 576px";
$breakpoint_450: "max-width: 450px";
$breckpoint_ESM: "max-width: 385px";
$breckpoint_340: "max-width: 355px";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//theme.scss
@import './theme.scss';

//veriable.scss
@import './veriable.scss';


body {
    display: flex;
    justify-content: center;
    background-color: #DCDCDC;
    // text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
}

//Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//firfox
input[type=number] {
    -moz-appearance: textfield;


}


@mixin display($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // text-transform: capitalize;
}


a {
    text-decoration: none;
}




.home_page_component {
    overflow: hidden;
}


//accordion-button
.accordion-button {
    &:focus {
        box-shadow: none;
    }

    &:focus-visible {
        outline: none;
    }
}

.accordion-item {
    background-color: transparent;
}

.react-switch-bg {
    background-color: #666171 !important;
}