// font-family: 'Kanit', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Mukta', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto', sans-serif;


//breakpoints
$breakpoint_SM: "max-width: 576px";
$breakpoint_500: "max-width: 500px";
$breakpoint_450: "max-width: 450px";
$breakpoint_ESM: "max-width: 385px";
$breakpoint_350: "max-width: 350px";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // text-transform: capitalize;
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#root {
    height: 100%;
}

//home_page
.home_page {
    max-width: 420px;
    background-color: #F7F8FF;
    margin: auto;
    // padding-bottom: 75px;
}




//Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//firfox
input[type=number] {
    -moz-appearance: textfield;


}


@mixin display($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // text-transform: capitalize;
}


a {
    text-decoration: none;
}


.custom_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



//input
input {
    &:focus-visible {
        outline: none;
    }
}


//login button

@mixin login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 13px;
    border: 2px solid $primary;
    background-color: $primary;
    color: $white;
    text-decoration: none;
    font-size: larger;
    border-radius: 13px;
    font-weight: 600;

    @media($breakpoint_450) {
        font-size: 17px;
        font-weight: 400;
        border-width: 1px;
        border-radius: 8px;
    }
}



//register button

@mixin register_button {
    margin-top: 20px;
    width: 100%;
    padding: 13px;
    border: 2px solid $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $primary;
    text-decoration: none;
    font-size: larger;
    border-radius: 13px;
    font-weight: 700;

    @media($breakpoint_450) {
        padding: 10px;
        font-weight: 400;
        font-size: 17px;
        border-width: 1px;
        margin-top: 13px;
        border-radius: 8px;
    }
}


// font mixin
@mixin font {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1px;

    @media($breakpoint_450) {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
    }
}


//VGR button

@mixin vgr_button {
    padding: 10px 45px;
    color: $white;
    background-color: $primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border: none;
    border-radius: 10px;

    @media($breakpoint_450) {
        padding: 9px 35px;
    }

    @media($breakpoint_ESM) {
        padding: 8px 30px;
    }

    @media($breakpoint_350) {
        font-size: 14px;
    }
}


//text-overflow
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


//accordion-button
.accordion-button {
    &:focus {
        box-shadow: none;
    }

    &:focus-visible {
        outline: none;
    }
}

.accordion-item {
    background-color: transparent;
}

.react-switch-bg {
    background-color: #666171 !important;
}