:root {
    --body: #DCDCDC;
    --txt-black: #000;
    --txt-white: #fff;
    --primary-color: #6561C0;
    --color_1: #999;
    --color_2: #5264AE;
    --paragraph-color: #8B8B8B;
    --forgot-color: #707070;
    --page_bg-color: #F7F8FF;
    --input_shadow-color: 0 0.05333rem 0.21333rem #b6b6d45c;
    --content_border-color: #767676;
    --card-color: #8A63EF;
    --bottom-bar: #1B1926;
    --disable-button: #6A6A6A;
    --deposit-button: #FF5353;
    --watch-bg: linear-gradient(180deg, #6561C0 0%, #8683CD 71.36%);
    --dark_watch-bg: #E4E4E4;
    --mixing_card-color: #B5B3FB;
    --green-color: #00C738;
    --red-color: #FF4141;
    --pink-color: #F44771;
    --number-bg: #ffffff52;
}