.bottom_bar {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    max-width: 420px;
    height: 66px;
    background: $bottom_bar;


    .MuiBox-root {
        .MuiBottomNavigation-root {
            background-color: $bottom_bar;
            padding: 22px 0px 0px;

            .css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root {
                @media($breakpoint_450) {
                    min-width: auto;
                }

                .css-imwso6-MuiBottomNavigationAction-label.Mui-selected {
                    font-size: 12px;
                }

                .css-imwso6-MuiBottomNavigationAction-label {
                    letter-spacing: .3px;
                }
            }

            a {
                gap: 0px;
                padding: 0;

                &:hover {
                    color: $disable_button;
                }

                .css-imwso6-MuiBottomNavigationAction-label {
                    color: $disable_button;
                }
            }

            img {
                width: 20px;
            }

            .promotion {
                img {
                    width: 35px;
                    height: 35px;
                }
            }

            button {
                &:not(:disabled) {
                    color: $disable_button ;
                    padding: 0;
                }

                .css-8je8zh-MuiTouchRipple-root {
                    display: none;
                }
            }

            .Mui-selected {
                color: $white !important;
                padding: 0;
            }

            .promotion {
                margin-top: -13px;
            }
        }
    }
}