.pagination {
    @include display(center, center);

    .page-item {
        box-shadow: none;
        outline: none;

        .page-link {
            border: none;
            padding: 0;
            background-color: transparent;
            font-size: 15px;
            font-weight: 600;
            color: $forgot;
            box-shadow: none;
            outline: none;

            span {
                margin-right: 20px;
                background-color: $dark_watch;
                padding: 0px 12px 2px;
                border-radius: 6px;
                font-size: 29px;
                color: $forgot;
                font-weight: 500;
                outline: none;

                @media($breakpoint_ESM) {
                    font-size: 26px;
                    border-radius: 4px;
                }
            }
        }
    }

    .slash {
        .page-link {
            border: none;
            padding: 0 2px 0 3px;
            background-color: transparent;
            font-size: 26px;
            font-weight: 600;
            color: $forgot;
        }
    }

    .last_btn {
        .page-link {
            border: none;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            outline: none;

            span {
                margin-left: 20px;
                background-color: $primary;
                padding: 0px 12px 2px;
                border-radius: 6px;
                font-size: 29px;
                color: $white;
                font-weight: 500;

                @media($breakpoint_ESM) {
                    font-size: 26px;
                    border-radius: 4px;
                }
            }
        }
    }
}