.bottom_sec {
    padding: 20px 10px 80px;

    .last_sec {
        .card_last {
            @include display(space-between, center);
            background-color: $white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: $input_shadow;
            margin-bottom: 8px;

            .winning_card_last {
                @include display(center, center);
                gap: 7px;

                @media($breakpoint_450) {
                    gap: 5px;
                }

                h4 {
                    @include font;

                    @media($breakpoint_450) {
                        font-size: 13px;
                    }
                }

                img {
                    border-radius: 50%;

                    @media($breakpoint_350) {
                        width: 45px;
                    }
                }
            }

            .amount_winning {
                p {
                    background-color: $card_primary;
                    padding: 7px 29px;
                    font-size: 14px;
                    margin-bottom: 0;
                    color: $white;
                    border-radius: 10px;

                    @media($breakpoint_450) {
                        padding: 6px 20px;
                        font-size: 13px;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}