.bet_history {
    @include display(center, center);

    .header_bet_history {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(space-between, center);
            padding: 12px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            .back_img {
                img {
                    width: 25px;

                    @media($breakpoint_ESM) {
                        width: 20px;
                    }
                }
            }

            .deposit_content {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }

            .deposit_history {
                cursor: pointer;

                p {
                    color: $white;
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
        }

        .pagination_fixeds {
            background-color: $page_bg;

            .tab_btn {
                border-bottom: 1px solid $dark_watch;
                overflow: hidden;
                @include display(flex-start, center);
                overflow-x: scroll;
                white-space: nowrap;
                padding-top: 50px;

                button {
                    border: none;
                    outline: none;
                    box-shadow: none;
                    padding: 7px 30px;
                    background-color: transparent;

                }
            }

            .bet_history_section {
                padding: 15px;
                background-color: $page_bg;

                p {
                    font-size: 15px;
                    font-weight: 600;
                }

                .history_table {
                    background-color: $white;
                    border-radius: 10px;
                    margin: 10px 0 15px;

                    @media ($breakpoint_ESM) {
                        margin-top: 20px;
                    }

                    .table_div {
                        @include display(space-between, center);
                        background-color: $white;
                        padding: 15px 10px 10px;
                        border-bottom: 1px solid $dark_watch;

                        .big_id {
                            @include display(center, center);
                            column-gap: 10px;

                            .bg_primary {
                                border: 1px solid;
                                color: $white;
                                padding: 9px 3px;
                                border-radius: 10px;
                                @include display(center, center);
                            }

                            .bg_white {
                                background-color: $white;
                                border: 1px solid $primary;
                                padding: 7px 4px;
                                border-radius: 6px;
                                color: $primary;
                                font-size: 13px;
                            }

                            .id_date_number {
                                .id_number {
                                    letter-spacing: 0.4px;
                                    font-size: 15px;

                                    @media ($breakpoint_ESM) {
                                        font-size: 14px;
                                    }
                                }

                                .date {
                                    color: $forgot;
                                    font-size: 14px;

                                    @media ($breakpoint_ESM) {
                                        font-size: 13px;
                                    }

                                    span {
                                        @media ($breakpoint_ESM) {
                                            margin-left: 2px !important;
                                        }
                                    }
                                }
                            }
                        }

                        .win_loss {
                            .failed {
                                border: 1px solid $red;
                                border-radius: 5px;
                                padding: 1px 13px;
                                font-size: 12px;
                                color: $red;
                                text-align: center;
                            }

                            .succeed {
                                border: 1px solid $green;
                                border-radius: 5px;
                                padding: 1px 13px;
                                font-size: 12px;
                                color: $green;
                                text-align: center;
                            }

                            .loss {
                                text-align: end;
                                color: $red;
                                margin-top: 3px;
                                letter-spacing: 0.3px;
                            }

                            .win {
                                text-align: end;
                                color: $green;
                                margin-top: 3px;
                                letter-spacing: 0.3px;
                            }
                        }
                    }
                }

                .balance {
                    background-color: $primary;
                    border-radius: 14px;
                    padding: 20px 20px 15px;
                    margin-bottom: 10px;

                    @media($breakpoint_ESM) {
                        padding: 14px 13px 15px;
                    }

                    p {
                        color: $white;
                        margin-bottom: 0;
                        font-size: 17px;
                        letter-spacing: .5px;

                        @media($breakpoint_ESM) {
                            font-size: 15px;
                        }
                    }

                    // .loss {
                    //     color: $green;
                    // }

                    // .win {
                    //     color: $red;
                    // }

                    .four_img {
                        @include display(space-between, baseline);
                        text-align: center;
                        margin: 15px 13px 0;


                        @media($breakpoint_ESM) {
                            margin: 12px 0 0;
                        }

                        .wallet_2 {
                            @include display(center, center);
                            flex-direction: column;
                            cursor: pointer;

                            img {
                                @media($breakpoint_ESM) {
                                    width: 30px;
                                }
                            }

                            h5 {
                                margin: 7px 0 0 0;
                                color: $white;
                                font-size: 15px;
                                font-weight: 600;

                                @media($breakpoint_ESM) {
                                    font-size: 14px;
                                }
                            }

                            .this_total {
                                font-size: 15px;
                                font-weight: 500;
                                letter-spacing: .5px;
                            }
                        }

                        .deposit {
                            @include display(center, center);
                            flex-direction: column;
                            cursor: pointer;

                            img {
                                @media($breakpoint_ESM) {
                                    width: 30px;
                                }
                            }

                            h5 {
                                margin: 7px 0 0 0;
                                color: $white;
                                font-size: 15px;
                                font-weight: 600;

                                @media($breakpoint_ESM) {
                                    font-size: 14px;
                                }
                            }

                            .this_total {
                                font-size: 16px;
                                letter-spacing: .5px;
                                font-weight: 500;
                            }
                        }

                        .withdraw {
                            @include display(center, center);
                            flex-direction: column;
                            cursor: pointer;

                            img {
                                @media($breakpoint_ESM) {
                                    width: 30px;
                                }
                            }

                            h5 {
                                margin: 7px 0 0 0;
                                color: $white;
                                font-size: 15px;
                                font-weight: 600;

                                @media($breakpoint_ESM) {
                                    font-size: 14px;
                                }
                            }

                            .this_total {
                                font-size: 16px;
                                letter-spacing: .5px;
                                font-weight: 500;
                            }
                        }

                        .vip {
                            @include display(center, center);
                            flex-direction: column;
                            cursor: pointer;

                            img {
                                @media($breakpoint_ESM) {
                                    width: 30px;
                                }
                            }

                            h5 {
                                margin: 7px 0 0 0;
                                color: $white;
                                font-size: 14px;
                                font-weight: 600;

                                @media($breakpoint_ESM) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}