.promotions {
    @include display(center, center);

    .header_promotions {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(center, center);
            padding: 15px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            .promotions_content {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }

        .promotions_section {
            padding: 70px 15px 90px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding: 65px 12px 70px;
            }

            .agency {
                h3 {
                    text-align: center;
                }

                .bg_total {
                    @include display(center, center);

                    h6 {
                        background-color: #6561c069;
                        padding: 6px 15px;
                        border-radius: 8px;
                        margin-bottom: 5px;
                        max-width: 255px;
                        font-size: 17px;

                        @media($breakpoint_ESM) {
                            font-size: 15px;
                        }
                    }
                }

                p {
                    font-size: 14px;
                    text-align: center;

                    @media($breakpoint_ESM) {
                        margin-bottom: 10px;
                    }
                }
            }

            .direct_team {
                @include display(center, center);

                .deposit_direct {
                    background-color: $white;

                    .border_left {
                        border-left: 1px solid $dark_watch
                    }

                    .direct {
                        @include display(flex-start, center);
                        gap: 5px;
                        background-color: $primary;
                        padding: 10px;

                        @media($breakpoint_ESM) {
                            padding: 10px 5px;
                        }

                        img {
                            width: 20px;
                            height: 20px;
                        }

                        h6 {
                            font-weight: 600;
                            margin-bottom: 0;
                            font-size: 14px;
                            color: $white;

                            @media($breakpoint_ESM) {
                                font-size: 12px;
                            }
                        }
                    }

                    .people {
                        border-left: 1px solid $white;
                    }

                    .register_number {
                        padding-bottom: 10px;

                        h6 {
                            text-align: center;
                            margin-bottom: 0;

                            @media($breakpoint_ESM) {
                                font-size: 15px;
                            }
                        }

                        p {
                            margin-bottom: 0;
                            text-align: center;
                            font-size: 12px;

                            @media($breakpoint_ESM) {
                                font-size: 11px;
                            }
                        }
                    }

                    .Deposit_number {
                        padding-bottom: 10px;

                        h6 {
                            text-align: center;
                            margin-bottom: 0;

                            @media($breakpoint_ESM) {
                                font-size: 15px;
                            }
                        }

                        p {
                            margin-bottom: 0;
                            text-align: center;
                            font-size: 12px;

                            @media($breakpoint_ESM) {
                                font-size: 11px;
                            }
                        }
                    }

                    .amount_number {
                        padding-bottom: 10px;

                        h6 {
                            text-align: center;
                            margin-bottom: 0;

                            @media($breakpoint_ESM) {
                                font-size: 15px;
                            }
                        }

                        p {
                            margin-bottom: 0;
                            text-align: center;
                            font-size: 12px;

                            @media($breakpoint_ESM) {
                                font-size: 11px;
                            }
                        }
                    }

                    .people_number {
                        padding-bottom: 10px;

                        h6 {
                            text-align: center;
                            margin-bottom: 0;

                            @media($breakpoint_ESM) {
                                font-size: 15px;
                            }
                        }

                        p {
                            margin-bottom: 0;
                            text-align: center;
                            font-size: 12px;

                            @media($breakpoint_ESM) {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }

            .link_btn {
                @include display(center, center);

                .login_button {
                    @include login_button;
                    font-size: 15px;
                    width: 80%;

                    @media($breakpoint_ESM) {
                        font-size: 14px;
                    }
                }
            }

            .game {
                margin-top: 15px;
                padding: 15px;
                background-color: $white;
                box-shadow: $input_shadow;
                border-radius: 9px;
                @include display(space-between, center);

                @media($breakpoint_ESM) {
                    margin-top: 12px;
                }

                .img_game {
                    @include display(center, center);
                    column-gap: 13px;

                    img {
                        width: 25px;
                        height: 25px;

                        @media($breakpoint_ESM) {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    p {
                        font-weight: 600;
                        margin-bottom: 0;
                        font-size: 15px;

                        @media($breakpoint_ESM) {
                            font-size: 13px;
                        }
                    }
                }

                .next_img {
                    img {
                        @media($breakpoint_ESM) {
                            width: 20px;
                        }
                    }
                }
            }

            .promotion_data {
                background-color: $primary;
                padding: 20px 15px 10px;
                margin-top: 20px;
                border-radius: 14px;

                h5 {
                    font-size: 17px;
                    font-weight: 600;
                    color: $white;
                }

                .data_details {
                    @include display(space-around, flex-start);
                    gap: 10px;

                    .total_number {
                        width: 50%;

                        .this_week {
                            margin-bottom: 10px;

                            h6 {
                                text-align: center;
                                margin-bottom: 0;
                                color: $white;

                                @media($breakpoint_ESM) {
                                    font-size: 15px;
                                }
                            }

                            p {
                                margin-bottom: 0;
                                text-align: center;
                                font-size: 12px;
                                color: $white;

                                @media($breakpoint_ESM) {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }

            .banner_shared {
                margin: 20px 0 25px;
                width: 100%;

                @media($breakpoint_ESM) {
                    margin-bottom: 15px;
                }

                h5 {
                    margin-bottom: 15px;
                    font-weight: 600;
                    font-size: 18px;
                }

                .pro_card_two {
                    width: 100%;
                    margin-bottom: 15px;
                    @include display(space-between, center);
                    gap: 10px;

                    .promotion_banner_img {
                        border-radius: 14px;
                        position: relative;

                        .promotion_img {
                            width: 100%;
                            max-width: 190px;
                            border-radius: 14px;
                        }

                        .share_img {
                            width: 13%;
                            background-color: $primary;
                            padding: 6px;
                            border-radius: 8px;
                            box-shadow: 0 4px 6px 0 #909090;
                            position: absolute;
                            right: 14px;
                            top: 13px;
                            cursor: pointer;

                            @media($breakpoint_ESM) {
                                width: 16%;
                                right: 10px;
                                top: 10px;
                            }
                        }
                    }
                }
            }

            .youtube_video_frame {
                h5 {
                    margin-bottom: 15px;
                    font-weight: 600;
                    font-size: 18px;
                }

                .flex_tube {
                    @include display(space-between, center);
                    gap: 6px;

                    .video_play {
                        position: relative;

                        iframe {
                            width: 100%;
                            max-width: 190px;
                        }

                        .share_img {
                            width: 14%;
                            background-color: $primary;
                            padding: 6px;
                            border-radius: 8px;
                            box-shadow: 0 4px 6px 0 #909090;
                            position: absolute;
                            right: 14px;
                            top: 17px;
                            cursor: pointer;

                            @media($breakpoint_ESM) {
                                width: 16%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.share_modal {
    background-color: $white;
    border-radius: 10px;

    h6 {
        color: $white;
        background-color: $primary;
        padding: 9px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }

    .left_right_btnn {
        @include display(center, center);
        padding: 20px;
        padding: 25px 25px 35px;
        column-gap: 25px;

        @media($breakpoint_ESM) {
            column-gap: 15px;
        }

        .left_btnn {
            background-color: $primary;
            padding: 8px 30px;
            font-size: 15px;
            font-weight: 600;
            color: $white;
            border: none;
            border-radius: 4px;
            outline: none;
            box-shadow: none;
        }

        .right_btnn {
            background-color: $red;
            padding: 8px 30px;
            font-size: 15px;
            font-weight: 600;
            color: $white;
            border: none;
            border-radius: 4px;
            outline: none;
            box-shadow: none;
        }
    }
}

.close_btnn {
    @include display(center, center);
    margin-top: 15px;

    .close_imgs {
        cursor: pointer;
    }
}

.share_google {
    background-color: $white;
    border-radius: 10px;

    p {
        padding: 15px;
    }

    ul {
        padding: 10px 25px 25px;

        li {
            list-style-type: none;
        }
    }
}