.ticket_summery {
    @include display(center, center);

    .header_ticket_summery {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(center, center);
            padding: 15px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;
            position: relative;

            img {
                position: absolute;
                top: 12px;
                left: 15px;
                width: 25px;

                @media($breakpoint_ESM) {
                    top: 13px;
                    left: 12px;
                    width: 20px;
                }
            }

            .ticket {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;

                    @media($breakpoint_ESM) {
                        font-size: 14px;
                    }
                }
            }
        }

        .ticket_summery_section {
            padding: 30px 15px;
            background-color: $page_bg;

            p {
                font-size: 15px;
            }

            .text_area {
                background-color: $white;

                textarea {
                    width: 100%;
                    padding: 15px;
                    border: none;
                    outline: none;
                    font-size: 14px;
                }
            }


            .sumnit_btn {
                margin-top: 30px;

                button {
                    @include login_button;
                }
            }
        }
    }
}