.withdraw {
    @include display(center, center);

    .header_withdraw {
        width: 100%;
        max-width: 420px;

        .header_flex {
            background: $profile_bg;
            @include display(space-between, center);
            padding: 12px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            .withdraw_content {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                    margin-left: 30px;
                }
            }

            .withdraw_history {
                p {
                    color: $white;
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
        }

        .bg_height {
            background: $profile_bg;
            padding: 0 10px 10px;
            height: 160px;
        }

        .withdraw_section {
            background-color: $page_bg;

            .wallet_card {
                padding: 0 10px;
                position: relative;

                .card_w {
                    position: relative;

                    img {
                        width: 100%;
                        position: absolute;
                        top: -94px;
                    }
                }

                .balance {
                    position: absolute;
                    left: 30px;
                    top: -47px;

                    @media($breakpoint_ESM) {
                        top: -56px;
                    }

                    @media($breakpoint_350) {
                        top: -62px;
                    }

                    .wallet_balance {

                        .wallet_img {
                            @include display(flex-start, center);
                            gap: 13px;

                            img {}

                            h6 {
                                margin-bottom: -7px;
                                color: $white;
                                font-weight: 600;

                                @media($breakpoint_ESM) {
                                    font-size: 14px;
                                }
                            }
                        }

                        .rupees {
                            @include display(flex-start, center);
                            gap: 25px;
                            margin-top: 25px;

                            @media($breakpoint_ESM) {
                                margin-top: 20px;
                            }

                            @media($breakpoint_350) {
                                margin-top: 15px;
                            }

                            h2 {
                                color: $white;
                                font-weight: 600;
                                margin-bottom: 0;
                            }

                            img {
                                color: $white;
                                width: 17px;
                            }
                        }
                    }
                }
            }

            .bank_account {
                padding: 135px 10px 30px;

                @media (max-width:410px) {
                    padding-top: 120px;
                }

                @media (max-width:375px) {
                    padding-top: 107px;
                }

                @media (max-width:353px) {
                    padding-top: 92px;
                }

                @media(max-width:329px) {
                    padding-top: 78px;
                }

                .bank_card {
                    @include display(space-between, center);
                    gap: 20px;

                    @media($breakpoint_450) {
                        gap: 14px;
                    }

                    .card_bg {
                        background: linear-gradient(181deg, #6561C0, #8683CD);
                        padding: 18px 4px;
                        border-radius: 14px;
                        text-align: center;
                        width: 85px;

                        @media($breakpoint_ESM) {
                            border-radius: 9px;
                        }

                        @media($breakpoint_350) {
                            padding: 15px 4px;
                        }

                        img {
                            width: 32px;
                        }

                        p {
                            color: $white;
                            font-size: 11px;
                            margin-top: 9px;
                            text-transform: uppercase;
                            margin-bottom: 0;
                            font-weight: 600;

                            @media($breakpoint_ESM) {
                                font-size: 10px;
                            }
                        }
                    }

                    .rectangle_img {
                        img {
                            width: 80px;
                            height: 80px;

                            @media($breakpoint_350) {
                                width: 70px;
                                height: 70px;
                            }
                        }
                    }

                    .account_number {
                        p {
                            color: $forgot;
                            font-weight: 600;
                            font-size: 15px;
                            margin-bottom: 0;

                            @media($breakpoint_ESM) {
                                font-size: 14px;
                            }

                            @media($breakpoint_350) {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .money_withdraw {
                    color: $red;
                    font-size: 15px;
                    margin-top: 20px;
                    text-align: center;

                    @media($breakpoint_ESM) {
                        font-size: 14px;
                        margin-top: 15px;
                    }
                }

                .amount_enter {
                    margin-top: 20px;
                    padding: 12px 20px;
                    box-shadow: 0 0.05333rem 0.21333rem #b6b6d4cc;
                    border-radius: 14px;

                    @media($breakpoint_ESM) {
                        padding: 10px 20px;
                        border-radius: 9px;
                        margin-top: 15px;
                    }

                    @media($breakpoint_350) {
                        padding: 8px 20px;
                    }

                    p {
                        margin-bottom: 3px;
                        font-size: 12px;
                        color: $forgot;

                        @media($breakpoint_ESM) {
                            margin-bottom: 0px;
                        }
                    }

                    h6 {
                        margin-bottom: 0;
                    }
                }

                .balance_btn {
                    @include display(space-between, center);
                    margin-top: 20px;

                    p {
                        font-size: 14px;
                        margin-bottom: 0;
                        color: $forgot;

                        @media($breakpoint_ESM) {
                            font-size: 13px;
                        }

                        span {
                            color: $primary;
                            font-size: 15px;
                            margin-left: 5px;

                            @media($breakpoint_ESM) {
                                font-size: 14px;
                            }
                        }
                    }

                    .all_btn {
                        button {
                            border: none;
                            background-color: $primary;
                            padding: 7px 40px;
                            border-radius: 8px;
                            color: $white;

                            @media($breakpoint_ESM) {
                                padding: 4px 33px;
                                font-size: 15px;
                                border-radius: 6px;
                            }
                        }
                    }
                }

                .amount_received {
                    @include display(space-between, center);
                    margin-top: 20px;

                    p {
                        font-size: 14px;
                        margin-bottom: 0;
                        color: $forgot;

                        @media($breakpoint_ESM) {
                            font-size: 13px;
                        }
                    }

                    span {
                        color: $primary;
                        font-size: 15px;
                        margin-left: 10px;
                    }
                }

                .withdraw_btn {
                    width: 100%;
                    color: $white;
                    font-size: 17px;
                    background-color: $primary;
                    border-radius: 12px;
                    border: none;
                    margin-top: 20px;
                    padding: 10px;

                    @media($breakpoint_ESM) {
                        font-size: 16px;
                    }
                }

                .card_bet {
                    background-color: $white;
                    box-shadow: 0 0.05333rem 0.21333rem #b6b6d4;
                    padding: 20px 10px;
                    border-radius: 14px;
                    margin-top: 20px;

                    @media($breakpoint_ESM) {
                        padding: 15px 10px;
                    }

                    .need_bet {
                        @include display(flex-start, center);
                        gap: 7px;
                        margin-bottom: 5px;

                        p {
                            margin-bottom: 0;
                            font-size: 13px;
                            margin-top: 4px;

                            @media($breakpoint_ESM) {
                                font-size: 11px;
                            }

                            span {
                                color: $primary;
                                font-size: 14px;
                                margin: 0 2px;

                                @media($breakpoint_ESM) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                .withdraw_history {
                    margin-top: 20px;

                    h6 {
                        font-weight: 600;
                        font-size: 17px;
                        margin-bottom: 20px;

                        @media($breakpoint_ESM) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}