.bonus {
    @include display(center, center);

    .header_bonus {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(center, center);
            padding: 15px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            .bonus_content {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }

        .bonus_section {
            padding: 70px 15px 85px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding: 65px 12px 70px;
            }

            .notification {
                border-radius: 9px;
                @include display(space-between, center);
                flex-direction: column;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }
        }
    }
}