.about {
    @include display(center, center);

    .header_about {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(center, center);
            padding: 15px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;
            position: relative;

            img {
                position: absolute;
                top: 12px;
                left: 15px;
                width: 25px;
            }

            .about_content {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }

        .about_section {
            padding: 30px 10px 30px;
            background-color: $page_bg;

            .privacy_policy {
                font-size: 13px;
                margin-bottom: 20px;
            }

            .interpretation {
                font-size: 12px;
                margin-bottom: 7px;
            }

            p {
                font-size: 13px;
                margin-bottom: 10px;
            }

            ul {
                padding-left: 15px;

                li {
                    list-style-type: none;
                    font-size: 13px;
                    margin-bottom: 7px;
                }
            }
        }
    }
}