.tab_screen {
    .nav-tabs {
        border: none;
        @include display(space-between, center);

        .nav-item {
            color: $primary;

            .nav-link {
                margin-bottom: -2px;
                color: $forgot;
                font-size: 16px;
                font-weight: 600;
                padding: 11px 25px;
                border-radius: 8px;
                background-color: $dark_watch;
                border: none;

                @media($breakpoint_450) {
                    border-radius: 7px;
                    font-size: 14px;
                    padding: 10px 21px;
                }

                @media($breakpoint_ESM) {
                    border-radius: 5px;
                    padding: 10px 17px;
                    font-size: 13px;
                }

                @media($breakpoint_350) {
                    font-size: 12px;
                }
            }

            .active {
                background-color: $primary;
                color: $white;
            }
        }
    }

    .tab-content {
        .tab-pane {
            table {
                text-align: center;
                background-color: $white;
                border-spacing: 0;
                border-collapse: separate;
                border-radius: 10px;
                padding-bottom: 15px;
                margin-top: 30px;


                thead {
                    background-color: $primary;
                    color: $white;
                    border: none;

                    th {
                        font-size: 16px;
                        font-weight: 600;
                        padding: 15px 7px;

                        @media($breakpoint_ESM) {
                            font-size: 15px;
                            padding: 12px 5px;
                        }

                        @media($breakpoint_350) {
                            font-size: 14px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            color: $forgot;
                            font-size: 15px;
                            font-weight: 600;
                            padding: 15px 7px;

                            @media($breakpoint_ESM) {
                                font-size: 14px;
                                padding: 11px 5px;
                            }

                            @media($breakpoint_350) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .chart_table {
                background-color: $white;
                margin: 25px 0;

                .table_head {
                    @include display(space-around, center);
                    background-color: $primary;
                    border-radius: 14px 14px 0 0;

                    h5 {
                        margin-bottom: 0;
                        color: $white;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 15px 0;
                    }

                    h4 {
                        margin-bottom: 0;
                        color: $white;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 15px 0;
                    }
                }

                .history_table {
                    .secound_table_sec {
                        padding: 15px 15px 0;
                        border-bottom: 2px solid $dark_watch;

                        .statistic {
                            h6 {
                                color: $black;
                                font-size: 15px;
                                font-weight: 600;
                                margin-bottom: 10px;
                            }
                        }

                        .flex_winning_number {
                            @include display(space-between, center);
                            margin-bottom: 10px;

                            .win_number_one {
                                font-size: 14px;
                                letter-spacing: 0.6px;
                                color: $forgot;
                                font-weight: 600;
                            }

                            .d-flex {
                                gap: 5px;

                                .table_number_sec {
                                    font-size: 16px;
                                    border: 1px solid $primary;
                                    border-radius: 50%;
                                    margin-bottom: 0;
                                    color: $primary;
                                    padding: 0px 3px;
                                }

                            }

                            .missing {
                                @include display (center, center);
                                gap: 13px;

                                .table_selected_number {
                                    font-size: 17px;
                                    margin-bottom: 0;
                                    color: $forgot;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}