.matching_rule {
    @include display(center, center);

    .header_matching_rule {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(center, center);
            padding: 15px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            img {
                position: absolute;
                top: 12px;
                left: 15px;
                width: 25px;
            }

            .matching_rule_content {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }

        .matching_rule_section {
            padding: 70px 15px 15px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding: 65px 10px 10px;
            }

            .capping_border_card {
                border: 1px solid $primary;
                border-radius: 14px;

                .capping_coin_card {
                    background-color: #5A56C2;
                    padding: 15px;
                    border-radius: 14px 14px 0 0;

                    h6 {
                        text-align: center;
                        margin-bottom: 0;
                        color: $white;
                        font-weight: 600;
                        font-size: 13px;
                    }
                }

                .card_body {
                    padding: 13px;

                    p {
                        color: $primary;
                        margin-bottom: 8px;
                        font: initial;
                        text-align: justify;
                    }
                }
            }
        }
    }
}