.change_pass {
    @include display(center, center);

    .header_login {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            padding: 20px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            @media($breakpoint_ESM) {
                padding: 15px 10px;
            }

            .back_img {
                position: relative;

                img {
                    position: absolute;
                    top: -5px;
                    left: 5px;

                    @media($breakpoint_ESM) {
                        width: 25px;
                        top: -3px;
                    }
                }
            }

            .setting_content {
                h4 {
                    text-align: center;
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;

                    @media($breakpoint_ESM) {
                        font-size: 16px;
                    }
                }
            }
        }

        .pass_section {
            padding: 60px 20px 30px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding-top: 50px;
            }

            .form-floating>.form-control,
            .form-floating>.form-select {
                height: calc(3.5rem + 1px);

                @media($breakpoint_ESM) {
                    height: calc(2.9rem + 1px);
                }
            }

            .form-floating {
                position: relative;
                margin-top: 30px;

                @media($breakpoint_ESM) {
                    margin-top: 25px;
                }

                label {
                    font-size: 12px;
                    padding-top: 15px;
                    padding-left: 46px;
                    margin-bottom: 5px;
                    color: $forgot;
                    top: 4px;
                    left: 5px;

                    @media($breakpoint_ESM) {
                        top: -1px;
                        left: 1px;
                    }

                    @media($breakpoint_350) {
                        padding-left: 45px;
                        font-size: 11px;
                    }
                }

                img {
                    position: absolute;
                    top: 16px;
                    left: 11px;

                    @media($breakpoint_350) {
                        left: 11px;
                    }
                }

                .password {
                    position: absolute;
                    top: 15px;
                    left: 16px;
                    width: 18px;

                    @media($breakpoint_ESM) {
                        top: 12px;
                        left: 12px;
                    }
                }

                input {
                    border: none;
                    border-radius: 7px;
                    font-size: 14px;
                    padding: 13px 40px 0px 48px;
                    font-weight: 500;
                    box-shadow: $input_shadow;
                    letter-spacing: .5px;

                    @media($breakpoint_ESM) {
                        padding: 13px 40px 0px 44px;
                    }

                    @media($breakpoint_350) {
                        padding-left: 43px;
                    }

                    &:focus {
                        padding-left: 48px;

                        @media($breakpoint_ESM) {
                            padding-left: 43px;
                        }
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                .passwod_btn {
                    position: absolute;
                    right: 15px;
                    top: 16px;
                    border: none;
                    background-color: transparent;

                    @media($breakpoint_ESM) {
                        top: 11px;
                    }

                    &:focus-visible {
                        outline: none;
                    }

                    svg {
                        width: 22px;
                        outline: none;
                        box-shadow: none;
                    }
                }
            }

            .save_pass {
                @include display(center, center);
                margin-top: 40px;

                @media($breakpoint_ESM) {
                    margin-top: 33px;
                }

                button {
                    @include login_button;
                    padding: 10px;

                    @media($breakpoint_ESM) {
                        padding: 6px;
                    }
                }
            }
        }
    }
}