.home_page_section {
    .inner_section {
        overflow: hidden;
        background-color: $page_bg;

        .swiper {
            padding-top: 28px;

            @media($breakpoint_ESM) {
                padding-top: 25px;
            }

            .swiper-horizontal {
                .swiper-wrapper {
                    display: flex;
                    white-space: nowrap;

                    .swiper-slide {
                        .card {
                            border: none;
                        }
                    }
                }
            }
        }

        .flex_sec {
            padding: 20px 10px;
            background-color: $page_bg;

            @media($breakpoint_450) {
                padding: 15px 10px;
            }

            .game_sec {
                @include display(space-between, center);
                margin-bottom: 5px;
                padding: 0 20px;

                @media($breakpoint_ESM) {
                    padding: 0 10px;
                }

                @media($breakpoint_350) {
                    padding: 0;
                }

                .secound_section {
                    text-align: center;

                    .lottery_img {
                        img {
                            border-radius: 50%;
                            border: 2px solid $primary;
                            width: 70px;
                            padding: 5px;
                            height: 70px;

                            @media($breakpoint_350) {
                                width: 65px;
                            }
                        }
                    }

                    .lottery_content {
                        margin-top: 10px;

                        h5 {
                            color: $primary;
                            font-size: 16px;
                            font-weight: 600;

                            @media($breakpoint_450) {
                                font-size: 15px;
                            }

                            @media($breakpoint_350) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .same_sec {
                    text-align: center;

                    .lottery_img {

                        img {
                            border-radius: 50%;
                            border: 2px solid $content_border;
                            width: 70px;
                            padding: 5px;
                            height: 70px;

                            @media($breakpoint_350) {
                                width: 65px;
                            }
                        }
                    }

                    .lottery_content {
                        margin-top: 10px;

                        h5 {
                            color: $content_border;
                            font-size: 16px;
                            font-weight: 500;

                            @media($breakpoint_450) {
                                font-size: 15px;
                            }

                            @media($breakpoint_350) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .card_sec {
                width: 100%;
                background-color: transparent;
                margin-top: 30px;
                position: relative;

                .card {
                    background-color: $card_primary;
                    border: none;
                    outline: none;
                    border-radius: 14px 14px 0 0;
                    display: -webkit-box;
                    overflow: hidden;
                    position: relative;

                    .card_body {
                        padding: 20px 0 20px 10px;

                        &::before {
                            content: "";
                            position: absolute;
                            z-index: 1;
                            background-image: url("../../assets//img//gift_img.svg");
                        }

                        h4 {
                            margin-bottom: 0;
                            color: $white;
                            font-weight: 700;
                            font-size: 21px;
                            font-family: system-ui;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 75px;
                                height: 3px;
                                bottom: -23px;
                                background-color: $white;
                                margin: 10px 0;
                                border-radius: 15px;
                            }
                        }

                        p {
                            margin: 25px 0 0 0;
                            color: $white;
                            font-family: system-ui;
                            font-weight: 500;
                            letter-spacing: 1px;
                            font-size: 14px;
                        }

                        .purple {
                            margin: 0;
                        }
                    }
                }

                .gift_img {
                    position: absolute;
                    top: -27px;
                    right: 15px;

                    @media($breakpoint_ESM) {
                        right: 10px;
                    }

                    @media($breakpoint_350) {
                        width: 137px;
                        right: 5px;
                    }
                }

                .card_footer {
                    @include display(space-between, center);
                    padding: 10px;
                    border-radius: 0 0 14px 14px;
                    box-shadow: $input_shadow;
                    background-color: $white;

                    .card_flex {
                        @include display(center, center);
                        gap: 7px;

                        @media($breakpoint_450) {
                            gap: 5px;
                        }

                        img {
                            border-radius: 50%;
                        }

                        h4 {
                            @include font;
                            color: $black;
                        }
                    }

                    .card_sec_flex {
                        @include display(center, center);
                        gap: 15px;

                        @media($breakpoint_450) {
                            gap: 7px;
                        }

                        h6 {
                            @include font;
                            color: $black;
                        }

                        h5 {
                            @include font;
                            color: $primary ;
                        }
                    }
                }
            }
        }
    }
}