.big_small {
    display: flex;
    margin-bottom: 5px;
    height: 41px;

    @media($breakpoint_ESM) {
        height: 38px;
        margin-bottom: 0;
    }

    .login_button {
        @include login_button;
        width: 50%;
        border-radius: 7px 0 0 7px;

        @media($breakpoint_450) {
            border-radius: 7px 0 0 7px;
        }

        @media($breakpoint_ESM) {
            font-size: 16px;
        }
    }

    .register_button {
        @include register_button;
        width: 50%;
        margin-top: 0;
        border-radius: 0 7px 7px 0;

        @media($breakpoint_450) {
            border-radius: 0 7px 7px 0;
        }

        @media($breakpoint_ESM) {
            font-size: 16px;
        }
    }
}