.rule_inner {
    @include display(center, center);

    .header_inner {
        width: 100%;
        max-width: 420px;
        height: 100vh;
        background-color: $page_bg;

        .header_flex {
            background: $profile_bg;
            @include display(center, center);
            padding: 15px 10px;
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            max-width: 420px;

            img {
                position: absolute;
                top: 12px;
                left: 15px;
                width: 25px;

                @media($breakpoint_ESM) {
                    top: 13px;
                    left: 12px;
                    width: 20px;
                }
            }

            .inner_contents {
                h4 {
                    color: $white;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 0;

                    @media($breakpoint_ESM) {
                        font-size: 14px;
                    }
                }
            }
        }

        .inner_section {
            padding: 70px 10px 30px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding-top: 65px;
            }

            .rule_head {
                border: 1px solid $primary;
                border-radius: 14px;

                .rule_head_card {
                    background-color: #5A56C2;
                    padding: 10px;
                    border-radius: 14px 14px 0 0;

                    h6 {
                        text-align: center;
                        margin-bottom: 0;
                        color: $white;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }

                .card_body {
                    padding: 13px 13px 13px 0;

                    ul {

                        li {
                            color: $black;
                            margin-bottom: 8px;
                            font: initial;
                            text-align: justify;
                            list-style: circle;

                            span {
                                color: $primary;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}