.profile {
    .profile_width {
        .mine {
            background: $profile_bg;
            @include display(flex-start, center);
            column-gap: 17px;
            padding: 0 10px 10px;

            @media($breakpoint_450) {
                column-gap: 11px;
            }

            @media($breakpoint_350) {
                column-gap: 9px;
            }

            .profile_img {
                img {
                    border-radius: 50%;
                    position: relative;
                    top: 55px;
                    width: 100px;

                    @media($breakpoint_ESM) {
                        width: 80px;
                        top: 49px;
                    }

                    @media($breakpoint_350) {
                        width: 75px;
                        top: 44px;
                    }
                }
            }

            .name_id {
                margin-top: 35px;

                @media($breakpoint_ESM) {
                    margin-top: 25px;
                }

                .your_name {
                    @include display(center, center);
                    column-gap: 9px;
                    margin-bottom: 10px;

                    @media($breakpoint_450) {
                        column-gap: 2px;
                    }

                    h5 {
                        font-size: 17px;
                        color: $white;
                        margin-bottom: 0;
                        font-size: 17px;
                        font-weight: 700;
                        width: 95px;

                        @media($breakpoint_ESM) {
                            font-size: 16px;
                        }

                        @media($breakpoint_350) {
                            font-size: 15px;
                        }
                    }

                    .copy {

                        h4 {
                            background-color: $white;
                            margin-bottom: 0;
                            color: $primary;
                            font-size: 12px;
                            padding: 6px 7px;
                            font-weight: 600;
                            border-radius: 14px;
                            letter-spacing: .2px;
                            position: relative;

                            @media($breakpoint_ESM) {
                                font-size: 12px;
                            }

                            @media($breakpoint_350) {
                                font-size: 11px;
                                padding: 5px 4px;
                                border-radius: 8px;
                            }

                            span {
                                margin: 0 10px;

                                @media($breakpoint_ESM) {
                                    margin: 0 5px;
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 2px;
                                    height: 14px;
                                    background-color: $primary;
                                    left: 34px;
                                    top: 6px;

                                    @media($breakpoint_ESM) {
                                        left: 32px;
                                        top: 7px;
                                        width: 1px;
                                        height: 12px;
                                    }

                                    @media($breakpoint_350) {
                                        left: 28px;
                                        top: 5px;
                                    }
                                }
                            }

                            img {
                                position: relative;
                                top: -1px;
                                cursor: pointer;

                                @media($breakpoint_350) {
                                    width: 12px;
                                }
                            }
                        }
                    }
                }

                .last_login {
                    color: $white;

                    p {
                        margin-bottom: 0;
                        font-size: 14px;

                        @media($breakpoint_ESM) {
                            font-size: 13px;
                        }

                        span {
                            margin-left: 10px;

                            @media($breakpoint_ESM) {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        .sec_padding {
            padding: 65px 10px 90px;
            background-color: $page_bg;

            @media($breakpoint_ESM) {
                padding-top: 55px;
            }

            @media($breakpoint_350) {
                padding-top: 48px;
            }

            .active_card {
                @include display(space-between, center);
                padding: 20px 15px;
                background-color: $primary;
                margin-bottom: 15px;
                border-radius: 10px;

                @media($breakpoint_ESM) {
                    padding: 15px;
                }

                @media($breakpoint_350) {
                    padding: 15px 10px;
                }

                p {
                    margin-bottom: 0;
                    font-size: 14px;
                    color: $white;


                }

                button {
                    background-color: $red;
                    border: 1px solid $red;
                    color: $white;
                    border-radius: 8px;
                    padding: 4px 8px;
                    font-size: 13px;
                    outline: none;
                }
            }

            .balance {
                background-color: $primary;
                border-radius: 14px;
                padding: 20px 20px 15px;

                @media($breakpoint_ESM) {
                    padding: 14px 13px 15px;
                }

                p {
                    color: $white;
                    margin-bottom: 5px;
                    font-size: 15px;

                    @media($breakpoint_ESM) {
                        font-size: 14px;
                    }
                }

                h3 {
                    color: $white;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    border-bottom: 2px dashed $white;
                    padding-bottom: 16px;

                    @media($breakpoint_ESM) {
                        padding-bottom: 20px;
                    }

                    @media($breakpoint_350) {
                        padding-bottom: 14px;
                        font-size: 22px;
                    }

                    img {
                        color: $white;
                        margin-left: 15px;
                    }
                }

                .four_img {
                    @include display(space-between, baseline);
                    text-align: center;
                    margin: 15px 13px 0;

                    @media($breakpoint_ESM) {
                        margin: 12px 0 0;
                    }

                    .wallet_2 {
                        @include display(center, center);
                        flex-direction: column;
                        cursor: pointer;

                        img {
                            @media($breakpoint_ESM) {
                                width: 30px;
                            }
                        }

                        h5 {
                            margin: 7px 0 0 0;
                            color: $white;
                            font-size: 14px;
                            font-weight: 600;

                            @media($breakpoint_ESM) {
                                font-size: 13px;
                            }
                        }
                    }

                    .deposit {
                        @include display(center, center);
                        flex-direction: column;
                        cursor: pointer;

                        img {
                            @media($breakpoint_ESM) {
                                width: 30px;
                            }
                        }

                        h5 {
                            margin: 7px 0 0 0;
                            color: $white;
                            font-size: 14px;
                            font-weight: 600;

                            @media($breakpoint_ESM) {
                                font-size: 13px;
                            }
                        }
                    }

                    .withdraw {
                        @include display(center, center);
                        flex-direction: column;
                        cursor: pointer;

                        img {
                            @media($breakpoint_ESM) {
                                width: 30px;
                            }
                        }

                        h5 {
                            margin: 7px 0 0 0;
                            color: $white;
                            font-size: 14px;
                            font-weight: 600;

                            @media($breakpoint_ESM) {
                                font-size: 13px;
                            }
                        }
                    }

                    .vip {
                        @include display(center, center);
                        flex-direction: column;
                        cursor: pointer;

                        img {
                            @media($breakpoint_ESM) {
                                width: 30px;
                            }
                        }

                        h5 {
                            margin: 7px 0 0 0;
                            color: $white;
                            font-size: 14px;
                            font-weight: 600;

                            @media($breakpoint_ESM) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .card_history {
                margin-top: 20px;

                .card_flex {
                    @include display (space-between, center);
                    column-gap: 7px;
                    cursor: pointer;

                    .card {
                        @include display(flex-start, center);
                        flex-direction: row;
                        padding: 15px 9px;
                        background-color: $white;
                        border-radius: 15px;
                        box-shadow: $input_shadow;
                        width: 50%;

                        @media($breakpoint_ESM) {
                            padding: 12px 7px;
                            border-radius: 7px;
                        }

                        @media($breakpoint_350) {
                            padding: 10px 5px;
                        }

                        .bet_img {
                            margin-right: 10px;

                            @media ($breakpoint_350) {
                                margin-right: 5px;
                            }

                            img {
                                @media($breakpoint_ESM) {
                                    width: 25px;
                                }
                            }
                        }

                        .bet_content {
                            h6 {
                                margin-bottom: 2px;
                                font-weight: 600;
                                font-size: 14px;

                                @media($breakpoint_ESM) {
                                    font-size: 12px;
                                }
                            }

                            p {
                                margin-bottom: 0;
                                color: $forgot;
                                font-size: 12px;

                                @media($breakpoint_ESM) {
                                    font-size: 11px;
                                }

                                @media($breakpoint_350) {
                                    font-size: 10px;
                                }
                            }
                        }

                        .transfer_img {
                            margin-right: 10px;

                            @media ($breakpoint_350) {
                                margin-right: 5px;
                            }

                            img {
                                @media($breakpoint_ESM) {
                                    width: 25px;
                                }
                            }
                        }

                        .transfer_content {
                            h6 {
                                margin-bottom: 2px;
                                font-weight: 600;
                                font-size: 14px;

                                @media($breakpoint_ESM) {
                                    font-size: 12px;
                                }
                            }

                            p {
                                margin-bottom: 0;
                                color: $forgot;
                                font-size: 12px;

                                @media($breakpoint_ESM) {
                                    font-size: 11px;
                                }

                                @media($breakpoint_350) {
                                    font-size: 10px;
                                }
                            }
                        }

                        .deposit_img {
                            margin-right: 10px;

                            @media ($breakpoint_350) {
                                margin-right: 5px;
                            }

                            img {
                                width: 32px;
                                height: 32px;

                                @media($breakpoint_ESM) {
                                    width: 25px;
                                }
                            }
                        }

                        .deposit_content {
                            h6 {
                                margin-bottom: 2px;
                                font-weight: 600;
                                font-size: 14px;

                                @media($breakpoint_ESM) {
                                    font-size: 12px;
                                }
                            }

                            p {
                                margin-bottom: 0;
                                color: $forgot;
                                font-size: 12px;

                                @media($breakpoint_ESM) {
                                    font-size: 11px;
                                }

                                @media($breakpoint_350) {
                                    font-size: 10px;
                                }
                            }
                        }


                        .withdraw_img {
                            margin-right: 10px;

                            @media ($breakpoint_350) {
                                margin-right: 5px;
                            }

                            img {
                                width: 32px;
                                height: 32px;

                                @media($breakpoint_ESM) {
                                    width: 25px;
                                }
                            }
                        }

                        .withdraw_content {
                            h6 {
                                margin-bottom: 2px;
                                font-weight: 600;
                                font-size: 14px;

                                @media($breakpoint_ESM) {
                                    font-size: 12px;
                                }
                            }

                            p {
                                margin-bottom: 0;
                                color: $forgot;
                                font-size: 12px;

                                @media($breakpoint_ESM) {
                                    font-size: 11px;
                                }

                                @media($breakpoint_350) {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .notification {
                margin-top: 20px;
                padding: 15px;
                background-color: $white;
                box-shadow: $input_shadow;
                border-radius: 9px;
                @include display(space-between, center);
                cursor: pointer;

                .img_notification {
                    @include display(center, center);
                    column-gap: 20px;

                    img {
                        @media($breakpoint_ESM) {
                            width: 21px;
                        }
                    }

                    p {
                        font-weight: 600;
                        margin-bottom: 0;

                        @media($breakpoint_ESM) {
                            font-size: 14px;
                        }
                    }
                }

                .number_noti {
                    @include display(center, center);
                    column-gap: 15px;

                    @media($breakpoint_ESM) {
                        column-gap: 8px;
                    }

                    p {
                        margin-bottom: 0;
                        padding: 2px 10px;
                        background-color: $primary;
                        color: $white;
                        border-radius: 50%;

                        @media($breakpoint_ESM) {
                            padding: 0px 7px;
                            font-size: 14px;
                        }
                    }

                    img {
                        @media($breakpoint_ESM) {
                            width: 20px;
                        }
                    }

                }
            }

            .game {
                margin-top: 15px;
                padding: 15px;
                background-color: $white;
                box-shadow: $input_shadow;
                border-radius: 9px;
                @include display(space-between, center);

                @media($breakpoint_ESM) {
                    margin-top: 10px;
                }

                .img_game {
                    @include display(center, center);
                    column-gap: 20px;

                    @media($breakpoint_ESM) {
                        column-gap: 16px;
                    }

                    img {
                        @media($breakpoint_ESM) {
                            width: 25px;
                        }
                    }

                    p {
                        font-weight: 600;
                        margin-bottom: 0;

                        @media($breakpoint_ESM) {
                            font-size: 14px;
                        }
                    }
                }

                .next_img {
                    img {
                        @media($breakpoint_ESM) {
                            width: 20px;
                        }
                    }

                    h6 {
                        background-color: $primary;
                        padding: 6px 10px;
                        font-size: 13px;
                        margin-bottom: 0;
                        border-radius: 4px;
                        color: $white;
                        @include display(center, center);

                        img {
                            width: 16px;
                            height: 16px;
                            margin-right: 5px;
                            margin-top: -1px;
                        }
                    }
                }
            }

            .service {
                margin-top: 20px;

                h5 {
                    font-size: 17px;
                    font-weight: 600;
                }

                .service_center {
                    @include display (space-between, baseline);
                    margin-top: 20px;

                    .setting {
                        text-align: center;
                        width: 30%;
                        flex-direction: column;
                        cursor: pointer;

                        img {
                            width: 27px;
                            height: 27px;

                            @media($breakpoint_350) {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        p {
                            color: $primary;
                            font-size: 14px;
                            font-weight: 600;
                            margin: 6px 0 0;
                            line-height: 1.3;

                            @media($breakpoint_ESM) {
                                font-size: 13px;
                            }

                            @media($breakpoint_350) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}