.login {
    @include display(center, center);

    .login_section {
        width: 420px;

        .lottery {
            background-color: $primary;
            padding: 20px;

            @media($breakpoint_350) {
                padding: 15px;
            }

            .logo {
                @include display(center, center);
                gap: 5px;
                margin-bottom: 10px;

                @media($breakpoint_ESM) {
                    gap: 0px;

                }

                img {
                    @media($breakpoint_ESM) {
                        height: 30px;
                        width: 50px;
                    }

                    @media($breakpoint_350) {
                        height: 25px;
                        width: 45px;
                    }
                }

                h2 {
                    color: $white;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 800;
                    text-transform: uppercase;
                    margin-bottom: 0;

                    @media($breakpoint_ESM) {
                        font-size: 21px;
                    }

                    @media($breakpoint_350) {
                        font-size: 19px;
                    }
                }
            }

            h5 {
                font-size: 21px;
                color: $white;
                margin-bottom: 5px;

                @media($breakpoint_350) {
                    font-size: 18px;
                }
            }

            p {
                font-size: 14px;
                color: $white;
                margin-bottom: 0;

                @media($breakpoint_350) {
                    font-size: 12px;
                }
            }
        }

        .secound_section {
            .inner {
                background-color: $page_bg;
                padding: 35px 20px 20px;
                height: 100vh;

                @media($breakpoint_350) {
                    padding: 30px 15px 15px;
                }

                .form-floating {
                    position: relative;

                    label {
                        font-size: 13px;
                        padding-top: 20px;
                        padding-left: 50px;
                        margin-bottom: 5px;

                        @media($breakpoint_350) {
                            padding-left: 45px;
                        }
                    }

                    img {
                        position: absolute;
                        top: 22px;
                        left: 13px;

                        @media($breakpoint_350) {
                            left: 11px;
                        }
                    }

                    .password {
                        position: absolute;
                        top: 15px;
                    }

                    input {
                        border: none;
                        border-radius: 10px;
                        padding-left: 55px;
                        padding-right: 45px;
                        font-weight: 500;
                        box-shadow: $input_shadow;

                        @media($breakpoint_450) {
                            font-size: 15px;
                            padding-left: 47px;
                        }

                        @media($breakpoint_350) {
                            padding-left: 43px;
                        }

                        &:focus {
                            padding-left: 55px;

                            @media($breakpoint_450) {
                                padding-left: 47px;
                            }

                            @media($breakpoint_350) {
                                padding-left: 43px;
                            }
                        }

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    .passwod_btn {
                        position: absolute;
                        right: 17px;
                        top: 15px;
                        border: none;
                        background-color: transparent;

                        &:focus-visible {
                            outline: none;
                        }
                    }
                }

                .forgot_link {
                    text-align: end;
                    margin: 20px 0;

                    @media($breakpoint_450) {
                        margin: 15px 0;
                    }

                    .forgot {
                        color: $forgot;
                        text-decoration: underline;

                        @media($breakpoint_450) {
                            font-size: 14px;
                        }
                    }
                }

                .login_link {
                    .login_button {
                        @include login_button;
                    }
                }

                .register_link {
                    .register_button {
                        @include register_button;
                    }
                }

                .upper {
                    text-align: center;
                    margin-top: 30px;

                    @media($breakpoint_450) {
                        margin-top: 20px;
                    }

                    img {
                        margin-bottom: 5px;
                    }

                    h5 {
                        color: $primary;
                        font-weight: 700;
                        margin-bottom: 30px;

                        @media($breakpoint_450) {
                            font-weight: 600;
                            margin-bottom: 15px;
                            font-size: 15px;
                        }

                        @media($breakpoint_350) {
                            font-size: 14px;
                        }
                    }
                }

                .checkbox {
                    margin-top: 20px;

                    @media($breakpoint_ESM) {
                        margin-top: 13px;
                    }

                    label {
                        @include display(center, baseline);
                        gap: 10px;

                        @media($breakpoint_450) {
                            align-items: center;
                        }

                        p {
                            color: $paragraph ;
                            margin-bottom: 0;

                            @media($breakpoint_450) {
                                font-size: 13px;
                            }

                            @media($breakpoint_350) {
                                font-size: 12px;
                            }

                            span {
                                font-weight: bold;
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}